/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/*body{
    //padding: 30px;
    //background-color: #ffffff;
}*/

body{
  color: pink;
  text-align: center;
  font-family: Carlito
  font-size: 20px;
}

/*#pslo{
  color: red;
  border-radius: 50px;
  padding: 20px;
  border: 5px solid;
  margin: 10px;
  max-width: 870px;
  margin:auto;
}*/

#pslo{
  width:600px;
  float:right;
  text-align: left;
  background-color: black;


}
#courses{
  width:600px;
  float:left;
  text-align: left;
  background-color: black;

}
#faculty{
  width: 600px;
  float:left;
  text-align: left;
  background-color: blue;
}


#validation {
  width: 600px;
  float:right;
  text-align: left;
  background-color: blue;
}

#style li a {
  width: 600px;
  float: right;
  color:black;
  text-align: left;
  background-color: blue;
}

