

body{background: linear-gradient(to right, #4D2831, #B50B1E,#0D1130,#526187 );} /* this code change background color*/

#main-title{
  font-family: monospace;
  text-align: center;
  font-size: 4rem;
  margin-top:150px;
}

h2, h1{/*grouping*/
  color: #7A0019;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline; /*underline all the h1 and h2 elements */
}

#pslo {
  border-radius: 25px;
  border: 5px ridge;
  background-color: #ece3e0;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  text-align: center;

}
#pslo>ol>li{
  text-align: left;
  color: orangered;
  font-size: 20px;
  font-family: Courier New;
}
#courses{
  border-radius: 25px;
  border: 5px ridge;
  background-color: #ece3e0;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  text-align: center;
  height: auto;
}

#courses>ul>li{ /* change first unorder list to upper roman*/
  text-align:left;
  list-style-type: upper-roman;
}
#courses>ul>li>ul>li{ /*change second unorder list to lower latin*/
  list-style-type: lower-latin;
}
#courses>ul>li>ul>li>ul{ /* change third unorder list to lower greek*/
  list-style-type: lower-greek;
}


#faculty {
  border-radius: 25px;
  border: 5px ridge;
  background-color: #ece3e0;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  text-align: center;
}



#faculty>ul>li { /*nesting*/
  display: inline-block;
  font-family: VL Gothic;
  padding: 30px;
  font-style: italic;
  color: orangered;

}

.card {
  border-radius: 5px;
  border: 5px ridge;
  background-color: #ece3e0;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  text-align: center;
}

/*#validation:hover {
  transform: rotateX(150dg);
}*/

img.pic { /* change image radius to 50%. This change image shapes to circle.*/
  border-radius: 50%;
}


@media (min-width: 1500px){ /* this code makes picture blur and each picture has different opacity, which mean each picture has different blur percentage*/
  #Elena{
    opacity: 0.1;
  }
  #KK{
    opacity: .3;
  }

  #Nic{
    opacity: .6;
  }

  #Peter{
    opacity: 1.0;
  }
}

.card .section{ /* An example of grouping*/
  font-family: VL Gothic;

}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#style li {
  float:left;
  clear:left;
}



#style li a {
  display: block;.
color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#style li a:hover {
  background-color: darkseagreen;
  width:1910px;
}

#style {
  position: absolute; /* this makes navigation bar fixed on top even we scroll down the page*/
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}


